<div class="container main-container">
    <div class="teacher-container">
        <div class="name-details">
            <p class="lead">Name:Jeremy Robson</p>
        </div>
        <div class="other-details">
            <img src="https://w7.pngwing.com/pngs/34/886/png-transparent-female-woman-girl-computer-icons-svg-face-people-logo.png" alt="">
        <p class="primary">Roll No:1891</p>
        <p class="primay">Class: Grade4 Blue</p>
        </div> 
    </div>
    <div class="students-container">
        <div class="student">
            <div class="student-image">
                <img src="https://www.nicepng.com/png/detail/662-6623341_male-icon-png-clipart-computer-icons-user-clip.png" alt="">
            </div>
            <div class="student-details">
                <p class="primary">Name:Mary Smith</p>
                <p class="primary">Reg No:2001</p>
                <p class="primary">Status:Active</p>
                <p class="primary">Grade:B</p>
            </div>
        </div>
        <div class="student">
            <div class="student-image">
                <img src="https://www.nicepng.com/png/detail/662-6623341_male-icon-png-clipart-computer-icons-user-clip.png" alt="">
            </div>
            <div class="student-details">
                <p class="primary">Name:Mary Smith</p>
                <p class="primary">Reg No:2001</p>
                <p class="primary">Status:Active</p>
                <p class="primary">Grade:B</p>
            </div>
        </div>
        <div class="student">
            <div class="student-image">
                <img src="https://www.nicepng.com/png/detail/662-6623341_male-icon-png-clipart-computer-icons-user-clip.png" alt="">
            </div>
            <div class="student-details">
                <p class="primary">Name:Mary Smith</p>
                <p class="primary">Reg No:2001</p>
                <p class="primary">Status:Active</p>
                <p class="primary">Grade:B</p>
            </div>
        </div>
    </div>
</div>
